#translation {
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.videodiv {
    width: 1200px;
    height: 700px;
    position: relative;
    text-align: center;
}

#text {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    font-weight: bold;
  }


video {
    width: 1200px;
    height: 700px;
    object-fit: cover;
}