body {
    display: flex;
}

#translation {
    display: flex;
    flex-direction: column;
    width: 22%;
    float: right;
    align-self: flex-end;
    margin: 10px;
}

#translation button {
    margin: 10px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: lightgray;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.selectionBox {
    height: 1.5rem;
    width: 11rem;
    margin-bottom: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}


.videodiv {
    width: 1200px;
    height: 700px;
    position: relative;
    text-align: center;
    float: left;
}

#text {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    font-weight: bold;
    background-color: rgba(45, 45, 45, .5);

}


video {
    width: 1200px;
    height: 700px;
    object-fit: cover;
}